.box {
background-image: url('back.jpg');
background-repeat: no-repeat;
  background-size: 100% 100%;
  	padding: 50px;
text-align: center;
}

form {
padding-top:50px;
padding-bottom:50px;
 border:10px solid black
}
form input{
width: 25%
}

body {
	width:100%;
	
}
